.engagements{
    padding:2%;
}
.delete-engagement{
    padding-left: 4%;
}
.update-engagement{
    padding-left: 5%;
}
.delete-button{
    border: none;
    background: none;
}

.textAreas{
    border: dotted 1px #555555;
    padding: 5px;
    background-color: inherit;
    width: 100%;
    height: 300px;
}