.image-adjust
{
   height: 200px;
   width: 100%;
   background-color: white;
   padding-bottom:10px;
}

.home-link
{
    margin-left:-150%;
    margin-top:-40%;
    color:blue;
}

.modal-partner-image
{
    margin-top: 5%;
}

.partner-summary-side
{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.partner-summary-side
{
    margin-top: 10%;
    margin-bottom: 20%;
}