.left-div{
    display: inline;
    width: 25%;
    float: left;
    padding: 5%;
    background-color: white;
}
.right-div{
    display: inline;
    width: 72%;
    float: right;
    padding-right: 2%;
}