.left-div{
    display: inline;
    width: 25%;
    float: left;
    padding: 5%;
    background-color: white;
    height: 100%;
    position: fixed;
}
.right-div{
    display: inline;
    width: 72%;
    float: right;
    padding-right: 2%;
}
.detail-header{
    height: 50px;
    width: 100%;
    font-size: x-large;
    padding: 8px;
    vertical-align: middle;
    background-color: #ddd;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}