.App {
  background-color: #eee;
}

.App-logo {
/*  animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #eee;
  height: 150px;
  padding: 20px;
  color: #333;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*.App-body {
  background-color: #eee;
}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sidemenu {
  width:25%;
  height:100%;
  display: inline-block;
  float:left;
  margin-left: 2%;
  text-indent: -5px;
}

.main-content{
  margin-left: -3%;
  width:76%;
  height:100%;
  display:inline-block;
}

.button-adjust
{
  border: none;
  background: none;
}

.text-adjust
{
    margin-left: 3.5%;
}

.category-adjust
{
    width:130%;
    font-size: 12px;
}
